<%- include('partials/header.ejs') %>
    <main>

        <form action="/search" method="post" class="search">
            <input type="text" name="search">
            <input type="submit" value="Buscar">
        </form>
        <h1>
            <%= title %>
        </h1>
        <p>
            <%= msg %>
        </p>


        <% data.forEach(element=> { %>
            <div class="container">
                <img class="entryImage" src="<%= element.entryimage %>" alt="Imagen de la entrada">
                </div>
            <% }) %>
                <div class="pages">
                    <% for( let index=1; index <=pages; index++ ) { %>

                        <a href="/entries?pag=<%= index %>">
                            <button>
                                <%= index %>
                            </button>
                        </a>

                        <% } %>
                </div>

    </main>
    <%- include('partials/footer.ejs') %>