<%- include('partials/header.ejs') %>
<main>
<section class="viewone">
    <div class="topSideInfo">
        <div class="viewOneImage">
        <img alt="avatar" src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg.webp"/>
        </div>
        <span class="name">@<%= data.name %></span>
        <div class="dateAndCat">
            <span class="date">
                <%= data.date %>
            </span>
            <span>
                #<%= data.category %>
            </span>
        </div>
    </div>
    <h2>
        <%= data.title %>
    </h2>
    <div class="contentInfo">
        <%= data.content %>
    </div>


</section>
<h2 class="titles">
    Respuestas:
</h2>
</main>
<%- include('partials/footer.ejs') %>